<%- include('../partials/hd') %>
 <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
<form action="/blogs" method="GET">
  <div class="input-group">
    <input type="text" class="form-control" name="blogTitle" value="<%= searchOptions.blogTitle %>" placeholder="Search in blogs">
    <div class="input-group-append" style="height: 38px;">
      <button class="btn btn-secondary" type="submit">
        <i class="fa fa-search" style="margin-top: -3px;"></i>
      </button>
    </div>
  </div>
</form>
</div></div></div>
<%- include('../partials/content', { blogs: blogs, large: true }) %>