<h2 class="page-header">Search blog</h2>
<form action="/blogs" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Title</label>
      <input type="text" name="blogTitle" value="<%= searchOptions.blogTitle %>">
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br>
<%- include('../partials/blogGrid', { blogs: blogs, large: true }) %>