<h2 class="page-header">New blog</h2>
<form action="/blogs" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/blogs">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>